/*
.bg-primary.dark{
    background-color:blue !important
}

.bg-primary.light{
    background-color:green !important
}
*/


.dark{
    --primary:343, 98%, 34% !important
}

.light{
    --primary:343, 98%, 34% !important
}